.sidebar {
  position: absolute ;
  width: 300px;
  height: 100vh;
  background: #F4F4F4;
  color: white;
  padding: 20px;
  margin-top: 60px;
}



.icons {
  position: absolute;
  top: 0;
  cursor: pointer;
}